$fz-standart: 18px;
$fz-mini: 14px;

$color-text-inactive: rgba(
	$color: #000000,
	$alpha: 0.4,
);
$no-active-color: rgba(199, 199, 199, 1);
$colorOne: #fff;
$colorTwo: #000000;
$colorThree: rgba(2, 148, 145, 1);
$colorFour: rgba(255, 182, 79, 1);
$colorFive: rgba(124, 227, 225, 1);
$colorSix: rgba(89, 112, 255, 1);
